.wrapper {
	width: 400px;
	min-width: 400px;
	max-width: 768px;
	margin: 47px 0 41px 0;
}
.autowidth {
	width: 768px;
}
.heading {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	display: block;
	background: #fff;
}
.heading .panel-heading {
	padding: 10px 0;
}
.footer {
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
}
.footer p {
	margin: 0;
	padding: 14px;
	line-height: 100%;
}
.identify .form-group,
.identify .form-control {
	display: inline-block;
}
.identify .form-control {
	width: 171px;
}
.profile a {
	text-decoration: none;
}
.profile {
	margin: -4px -4px 0 0;
	padding: 4px;
}
.profile:hover,
.profile.open {
	background: #e9e9e9;
}
.profile .login:hover {
	text-decoration: underline;
}
.avatar {
	width: 20px;
	height: 20px;
}
.heading-delimiter {
	margin: 0 0 10px 0;
}
.gist-container {
	min-height: 150px;
}
.gists ul {
	margin-bottom: 0;
}
.gists li {
	position: relative;
	padding: 0 5px;
	margin-bottom: 2px;
	border-radius: 2px;
	background: #eee;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: -1px 1px 0 #fff;
	border: 1px solid transparent;
	transition: background 0.2s;
}
.gists li:hover {
	background: #e8e8e8;
	box-shadow: inset 0px 1px 0 rgba(255,255,255,.6);
	border: 1px solid #D7D7D7;
}
.gists li:hover .gist-labels {
	background: #e8e8e8;
}
.gist-labels {
	position: absolute;
	right: 3px;
	top: -4px;
	padding: 3px 0 3px 5px;
	background: #eee;
	transition: background 0.2s;
}
.gist-labels > span {
	padding: 1px 3px;
	margin: 0 2px;
	color: #847C28;
	background: #fdffad;
	border: 1px solid rgba(132, 124, 40, 0.45);
	font: bold 10px/100% monospace;
	text-transform: uppercase;
}
.description {
	font-weight: bold;
}
