.wrapper {
	width: 400px;
}
.identify .form-group,
.identify .form-control {
	display: inline-block;
}
.identify .form-control {
	width: 171px;
}
.avatar {
	width: 20px;
	height: 20px;
}
.heading-delimiter {
	margin: 0 0 10px 0;
}
.panel-heading {
	padding: 10px 0;
}
